{% extends "shared/_layout.html" %}
{% block main_content %}

<div id="bed-main-content">
  <div>
    <h1 class="text-2xl font-bold mb-4">Garden Beds</h1>
    <table class="w-full text-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Soil Type</th>
          <th scope="col">Irrigation Zone</th>
        </tr>
      </thead>
      <tbody id="bed-table-body" hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
        {% for bed in beds %}
          <tr>
            <td>{{ bed.name }}</td>
            <td>{{ bed.soil_type }}</td>
            <td>{{ bed.irrigation_zone }}</td>
            <td>
              <button class="btn btn-danger" hx-delete="/api/beds/{{ bed.id }}">
                Delete
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <br>
      {% include 'beds/partials/show_add_bed_form.html' %}
      <br>
    </div>
  </div>
</div>

{% endblock %}