<form class="bed-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  hx-target="#bed-main-content"
  hx-swap="outerHTML"
  hx-post="/beds/">

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" placeholder="Name" required><br>
  </div>
  <div class="mb-4" hx-target="#soil_type_select">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="soil_type">Soil Type</label>
    <select name="soil_type" hx-indicator=".htmx-indicator">
      {% for soil_type in soil_types %}
        <option value="{{ soil_type }}">{{ soil_type }}</option>
      {% endfor %}
    </select>
    <!-- <label class="block text-gray-700 text-sm font-bold mb-2" for="soil_type">Soil Type</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="soil_type" type="text" name="soil_type" placeholder="Soil Type" required><br> -->
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="irrigation_zone">Irrigation Zone</label>
    <select name="irrigation_zone" hx-indicator=".htmx-indicator">
      {% for irrigation_zone in irrigation_zones %}
      <option value="{{ irrigation_zone }}">{{ irrigation_zone }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Create
    </button>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      hx-get="/beds/cancel_add" hx-target=".bed-form">
      Cancel
    </button>
  </div>


</form>