<table class="w-full text-sm" id="plantings-table">
  <thead>
    <tr>
      <th scope="col">Plant</th>
      <th scope="col">Variety</th>
      <th scope="col">Bed</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for planting in plantings %}
    <tr>
      <td class="border">{{ planting.plant }}</td>
      <td class="border">{{ planting.variety }}</td>
      <td class="border">{{ planting.bed }}</td>
      <td class="border">{{ planting.notes }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
