<div id="modal-box" class="modal-box p-4 scrollbar-thin" hx-target="this" hx-swap="outerHTML">
  <button _="on click remove .modal-open from #modal" class="btn btn-sm btn-circle absolute right-2 top-2">
    ✕
  </button>
  <h3 class="font-bold text-lg">Garden Planting</h3>
  {% if not plant %}
  <p class="pt-2 pb-4">Enter the details of the plant</p>
  <form hx-post="/plant/create" _="on submit toggle @disabled on #submit-button">
  {% else %}
  <p class="pt-2 pb-4">Edit the details of the plant {{ plant.name_common }}</p>
  <form hx-post="/plant/edit/{{plant.id}}" _="on submit toggle @disabled on #submit-button">
  {% endif %}
    <div class="grid grid-cols-2 gap-x-4 gap-y-0">
      <div class="col-span-2">
        <label for="name_common">Common Name</label>
        <input type="text" name="name_common" placeholder="Common Name" required>
      </div>
      <div class="col-span-2">
        <label for="name_botanical">Botanical Name</label>
        <input type="text" name="name_botanical" placeholder="Botanical Name" required>
      </div>
      <div class="col-span-2">
        <label for="family_group">Family Group</label>
        <input type="text" name="family_group" placeholder="Family Group" required>
      </div>
      <div class="col-span-2">
        <label for="harvest">Harvest</label>
        <input type="text" name="harvest" placeholder="Harvest" required>
      </div>
      <button id="submit-button" type="submit" class="btn btn-primary border-none">
        Submit
      </button>
    </div>
  </form>
</div>
