{% if not plants %}
<tr>
  <td colspan="5" class="text-center italic text-lg text-gray-600">Nothing to see here</td>
</tr>
{% else %}
{% for plant in plants %}
<tr class="h-auto">
  <th class="dropdown dropdown-right dropdown-end mt-1 -mb-1 border-0">
    <label tabindex="0"><a class="link cursor-pointer">{{ plant.name_common }}</a></label>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-24">
      <li>
        <a hx-get="/plant/edit/{{ plant.id }}" hx-target="#modal"
          _="on htmx:afterRequest add .modal-open to modal">
          Edit
        </a>
      </li>
      <li>
        <a hx-delete="/api/plants/{{ plant.id }}"
          hx-confirm="Are you sure you want to delete the plant '{{ plant.name_common }}'?">
          Delete
        </a>
      </li>
    </ul>
  </th>
  <td>{{ plant.variety }}</td>
  <td>{{ plant.name_botanical }}</td>
  <td>{{ plant.family_group }}</td>
  <td>{{ plant.harvest }}</td>
  <td>{{ plant.hints }}</td>
  <td>{{ plant.watch_for }}</td>
  <td>{{ plant.proven_varieties }}</td>
</tr>
{% endfor %}
{% endif %}
