{% extends "shared/_layout.html" %}

{% block content %}
  {% if not garden_exists %}
    {% include 'gardens/partials/gardens.html.jinja2' %}
  {% elif not bed_exists %}
    {% include 'beds/partials/beds.html.jinja2' %}
  {% else %}
    {% include 'plantings/partials/plantings.html.jinja2' %}
  {% endif %}
{% endblock content %}
