<!DOCTYPE html>
<!-- Use daisyUI themes - https://daisyui.com/docs/themes/ -->
<html data-theme="garden" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Garden Assistant{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/htmx.org@1.8.5"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  {% block additional_css %}{% endblock %}
</head>
<body>
  <div class="flex-row flex-grow">
    {% include "shared/navbar.html" %}

    <div class="content pb-28">
      {% block content %}
      {% endblock %}
    </div>

    {% include "shared/footer.html" %}
  </div>

  <!-- <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script> -->

  {% block additional_js %}
  {% endblock %}

</body>
</html>