<nav>
  <a class="navbar-brand inline-block" href="/">Garden Assistant <img class="icon" src="/static/img/leaf-circle.svg"
      alt="Leaf icon" style="width:24px;height:24px" /></a>
  <span>
    <a class="nav-item inline-block" href="/garden">Garden <img src="/static/img/land-plots.svg" alt="Garden icon"
        style="width:24px;height:24px" /></a>
    <a class="nav-item inline-block" href="/beds">Beds <img src="/static/img/shovel.svg" alt="Shovel icon"
        style="width:24px;height:24px" /></a>
    <a class="nav-item inline-block" href="/plantings">Plantings <img src="/static/img/food-apple.svg" alt="Apple icon"
        style="width:24px;height:24px" /></a>
  </span>
</nav>
